

#skills{
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 80vh;
    padding: 10rem 1rem 3rem 1rem;
    color: wheat;
}

#skills > h2{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.skills-con{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

 .skill-card{
        width: 270px;
        min-height: 280px;
        /* color: red; */
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1.3rem;
        justify-content: space-around;
        background-color: rgb(48, 46, 46);
        color: rgb(255, 255, 255);
        
        img{
            width: 60%;
        }
    }

    .skills-con:hover .skill-card:not(:hover)
    {
        transition: 0.5s;
        filter: blur(6px);
        opacity: 0.7;
    }
    
    .skill-card:hover{
        transition: 0.5s;
        transform: scale(1.05);
        img{
            transition: 0.5s;
            width: 70%;

        }
    }

    
    
    @media (max-width:800px) {
         .skill-card{
        width: 150px;
        min-height: 150px;
        /* color: red; */
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem;
        font-size: 0.8rem;
        justify-content: space-between;
        /* background-color: rgb(77, 77, 77); */
        color: rgb(245, 245, 245);
        
        img{
            width: 60%;
        }
    }

    #skills{
        padding-top: 5rem;
    }

    .skill-card:hover{
        transition: 0.7s;
        transform: scale(1.05);
        img{
            transition: 0.7s;
            width: 80%;
    
        }
    }
}